* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.main {
	width: 100%;
	height: 100vh;
	background-image: url(static/image/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	animation-name: change ;
	animation-duration: 20s;
	animation-fill-mode: backwards;
	animation-iteration-count: infinite;
}
@keyframes change {
	0%{
		background-image: url(static/image/2.jpg);
	}
	50%{
		background-image: url(static/image/7.jpg);
	}
	100%{
		background-image: url(static/image/1.jpg);
	}
}
header {
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo {
	position: relative;
	width: 300px;
	height: 200px;
	overflow: hidden;
}
.logo::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 50px 30px #ffffff inset; /* 模拟模糊效果 */
	pointer-events: none; /* 确保不影响交互 */
}
.logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
nav ul {
	display: flex;
	gap: 30px;
}
nav ul li {
	list-style: none;
}
nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 15px;
	font-weight: bold;
}
.hero {
	width: 100%;
	height: 90vh;
	display: grid;
	place-items: center;
}
.box {
	width: 40%;
	text-align: center;
}
.box h3 {
	font-size: 20px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.box h1 {
	font-size: 60px;
	text-transform: uppercase;
	color: white;
	margin-bottom: 15px;
}
.box p {
	font-size: 15px;
	color: white;
	line-height: 25px;
	margin-bottom: 20px;
}
.box button {
	width: 200px;
	height: 45px;
	background-color: white;
	border: 2px solid white;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 25px;
	cursor: pointer;
	transition: 0.3s;
}
.box button:hover {
	background: transparent;
	color: white;
}

/* 下文一 */
.box1 {
	padding: 100px 0;
	background-color: white;
}
.box1-container {
	display: flex;
	width: 100%;
	height: 600px;
	/* background-color: yellow; */
}
.box1-content {
	width: 70%;
	height: 600px;
	/* background-color: aqua; */
	display: flex;
}
.box1-text {
	margin: auto;
}
.box1-text hgroup {
	float: none;
	position: relative;
	display: flex;
	justify-content: center;
	/* margin-left: 0; */
	/* line-height: 50px; */
	padding-bottom: 20px;
	text-align: center;
	font-size: 36px;
	color: blue;
}
.box1-text-1 {
	position: relative;
	display: flex;
	justify-content: center;
	/* margin-right: 20px; */
	padding-bottom: 20px;
	text-align: center;
	font-size: 28px;
	letter-spacing: 5px;
}
.box1-text-2 {
	position: relative;
	display: flex;
	justify-content: center;
	/* margin-left: 20px; */
	padding-bottom: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
}
.box1-text-3 {
	position: relative;
	display: flex;
	justify-content: center;
}
.box1-text-3-1 {
	position: relative;
	display: flex;
	width: 80px;
	justify-content: center;
	font-size: 16px;
	background-color: black;
	border: 2px solid black;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 25px;
	cursor: pointer;
	transition: 0.3s;
	color: white;
	text-decoration: none; 
}
.box1-text-3-1:hover {
	background: transparent;
	color: yellow;
}
.box1-img {
	width: 30%;
	height: 600px;
	/* background-color: antiquewhite; */
}
.box1-img img {
	width: 100%;
	/* height: auto; */
	display: flex;
	float: right;
	margin-right: 50px;
	min-height: 600px;
}
/* 下文一 */

/* 下文三 */
.box3 {
	padding: 100px 0;
	background-color: white;
}
.box3-container {
	display: block;
	width: 100%;
	height: 800px;
	background-color: yellow;
}
.box3-on {
	display: flex;
	width: 100%;
	height: 300px;
	align-items: center;
	justify-content: center;
	background-color: blueviolet;
}
.box3-on h1 {
	display: flex;
	justify-content: center;
	/* margin-bottom: 10px; */
	padding-bottom: 20px;
	font-size: 75px;
	font-family: fangsong;
}
.box3-on p {
	font-size: 20px;
	line-height: 26px;
	font-family: serif;
}
.box3-under {
	display: flex;
	width: 100%;
	height: 500px;
	background-color: aquamarine;
}
/* 下文三 */

/* 下文二*/
.box2 {
	padding: 0 0;
	background-color: #f5f5dc;
}
.box2-container {
	display: block;
	width: 100%;
	height: 500px;
	/* background-color: yellow; */
}
.box2-on {
	display: flex;
	width: 100%;
	height: 200px;
	justify-content: center;
	/* background-color: blueviolet; */
}
.box2-on-title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
}
.box2-on .box2-on-title h1 {
	color: transparent;
	background: linear-gradient(90deg, #0066FF, #FF3333, #33CC33, #666666, #0066FF);
	background-size: 200% auto;
	background-clip: text;
	-webkit-background-clip: text;
	margin-bottom: 30px;
	font-size: 2.8rem;
	animation: textShine 5s linear infinite;
}
@keyframes textShine {
            0%, 100% {
                background-position: 0% center;
            }
            50% {
                background-position: 100% center;
            }
}
.box2-under {
	display: flex;
	width: 100%;
	height: 300px;
	/* background-color: cadetblue; */
}
.box2-rubbish {
	width: 300px;
	height: 250px;
	display: flex;
	/* margin-top: 50px; */
	/* align-items: center; */
	/* background-color: yellow; */
	/* justify-content: center; */
}
.box2-Recyclable {
	display: flex;
	width: 25%;
	height: 300px;
	max-height: 300px;
	justify-content: center;
	/* background-color: blue; */
}
.box2-Non-recylable {
	display: flex;
	justify-content: center;
	width: 25%;
	height: 300px;
	max-height: 300px;
	/* background-color: green; */
}
.box2-Kitchen {
	display: flex;
	justify-content: center;
	width: 25%;
	height: 300px;
	max-height: 300px;
	/* background-color: aqua; */
}
.box2-Hazardous {
	display: flex;
	justify-content: center;
	width: 25%;
	height: 300px;
	max-height: 300px;
	/* background-color: pink; */
}
/* 下文二 */